@use "sass:list";

// Sprite map for icon positioning
$icons: (
  arrow-right: (
    -56px,
    -56px,
  ),
  arrow-left: (
    -616px,
    -112px,
  ),
);

.btn,
button.btn {
  background: none;
  border: none;
  font-family: var(--font-larken-light);
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;

  padding: 12px 24px;

  &.primary {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--color-navy-500); 
    color: #fff;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--color-navy-500-dark);

    }
  }

  &.secondary {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-navy-500);
    color: var(--color-navy-500);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      background-color: var(--color-navy-500);
      color: #fff;
    }
  }
}

.nav-cta {
  a.mega-menu-link {
    font-family: var(--font-larken-light) !important;
    font-size: 0.875rem !important;
    font-weight: 300 !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;

    &:after {
      content: "" !important;
      display: inline-block !important;
      width: 43px !important;
      height: 16px !important;
      margin-left: 8px !important;
      background-image: url("../images/arrow.svg") !important;
      background-size: 43px 100% !important;
      background-repeat: no-repeat !important;
      transition: background-size 0.3s ease-in-out !important;
    }

    &:hover:after {
      background-size: 31px 100% !important;
      transition: background-size 0.3s ease-in-out !important;
    }
  }
}

.input-submit-wrapper {
  display: flex;
  align-items: center;

  &:after {
    content: "";
    display: inline-block;
    width: 43px;
    height: 16px;
    margin-left: 8px;
    background-image: url("../images/arrow-white.svg");
    background-size: 43px 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
  }

  &:hover:after {
    background-size: 31px 100%;
    transition: background-size 0.3s ease-in-out;
  }

  input[type="submit"] {
    font-family: var(--font-larken-light);
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 1.4px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background: none;
    text-align: left;
  }
}

.slick-pause-icon {
  display: none !important;
}

// Slick Dots
.slider-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px 0;

  &.testimonials {
    justify-content: flex-end;
  }

  @media (max-width: 768px) {
    gap: 1rem;
    width: 100%;
    padding: 24px 1rem;
  }

  .slider-dots {
    .slick-dots {
      position: relative !important;
      top: 0;
      padding: 0;
      display: flex !important;
      align-items: center;
      justify-content: center;

      li {
        margin: 0 !important;
        button {
          width: auto !important;
          height: auto !important;
          margin: 0 !important;
          padding: 8px;
          background: none;
          border: none;
          cursor: pointer;

          .slick-dot-icon {
            &:before {
              position: relative !important;
              content: "" !important;
              width: 2rem;
              height: 1px;
              display: block;
              background-color: black;
              transition: width 0.3s ease;
              margin-top: 0 !important;

              @media (max-width: 768px) {
                width: 1rem;
              }
            }
          }
        }

        &.slick-active {
          button {
            .slick-dot-icon {
              &:before {
                width: 2.5rem;

                @media (max-width: 768px) {
                  width: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .slider-arrows {
    display: flex;
    align-items: center;
    gap: 16px;

    .slick-arrow {
      position: relative;
      top: 0;
      background: transparent;
      border: none;
      cursor: pointer;
      width: 60px;
      height: 20px;
      background-image: url("../images/arrow.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transform: none;
      left: 0;

      @media (max-width: 768px) {
        width: 45px;
        height: 15px;
      }

      &.slick-prev,
      &.slick-next {
        right: 0;
      }

      &.slick-disabled {
        opacity: 0.3;
        cursor: default;
      }

      &.slick-prev {
        transform: rotate(180deg);
        transform-origin: center;
      }
    }
  }
}
