.more-from-blog {
  margin-top: 50px;
}

.latest-news-grid,
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 30px;
  margin-top: var(--spacing-4xl);

  .blog-card-image {
    height: 320px;
  }
}

.recent-posts-grid .blog-grid-recent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 32px;

  .blog-card:first-child {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    grid-row: span 2;

    .blog-card-image {
      height: 400px;
      width: 100%;
      max-width: 100%;
    }
  }

  .blog-card {
    display: grid;
    gap: 30px;
    flex-wrap: wrap;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    .blog-card-image {
      height: 250px;
    }
  }
}

.blog-card-image {
  border-radius: 20px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blog-card-content {
  padding: 10px 0;
}

.blog-card-date {
  font-size: 14px;
  color: var(--color-primary-blue);
}

.blog-card-title {
  font-size: 18px;
  margin: 10px 0;
}

.blog-card-title a {
  text-decoration: none;
  color: #101828;
}

.blog-card-excerpt {
  font-size: 16px;
}

@media (width <= 980px) {
  .blog-grid,
  .recent-posts-grid .blog-grid-recent {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
