@use "sass:list";

// Sprite map for icon positioning
$icons: (
  arrow-right: (
    -56px,
    -56px,
  ),
  arrow-left: (
    -616px,
    -112px,
  ),
);

button {
  background: transparent;
  box-shadow: 0px;
  border: none;

  &:hover,
  &:focus {
    background: transparent;
    box-shadow: 0px;
    border: none;
  }
}

.btn {
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--radius-full);
  text-decoration: none;

  &.primary {
    color: var(--color-accent-500);
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    width: fit-content;
    background-color: var(--color-primary-500);
    transition: gap 0.25s ease-in-out;

    &:hover {
      background-color: var(--color-primary-600);
      gap: 1rem;
    }
    &:focus {
      background-color: var(--color-primary-700);
    }

    &:disabled {
      background-color: var(--color-primary-700);
      cursor: not-allowed;
    }

    &:after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background: no-repeat;
      background-size: auto;
      background-image: url("../images/chevron-right.svg");
      margin-left: var(--spacing-sm);
    }
  }

  &.ticket {
    display: flex;
    width: max-content;
    border-radius: var(--radius-xs);
    position: relative;
    padding: 0;

    &.small {
      font-size: 1rem;
      line-height: 24px;

      .ticket__label {
        padding: var(--spacing-xs) var(--spacing-ml);
      }

      .ticket__icon {
        width: 40px;
        height: 40px;

        svg {
          width: 40px;
          height: 40px;
        }
      }
    }

    .ticket__label {
      padding: var(--spacing-md) var(--spacing-ml);
      border-radius: var(--radius-xs);
      background-color: var(--color-accent-500);
      color: var(--color-secondary-500);
      border-right: 1px dashed var(--color-secondary-500);
    }

    .ticket__icon {
      width: 46px;
      border-radius: var(--radius-xs);
      border-left: 1px dashed var(--color-secondary-500);
      background-color: var(--color-accent-500);
      z-index: 0;
      transform: rotate(0);
      transition: transform 0.2s ease-in-out;
      transform-origin: bottom left;
      margin: 0 auto;
      text-align: center;
      svg {
        width: 46px;
        height: 100%;

        @media (width <= 1200px) {
          width: 24px;
          height: 100%;
        }
      }
    }

    &:hover {
      .ticket__label {
        background-color: var(--color-accent-500);
        border-right: none;
      }
      .ticket__icon {
        background-color: var(--color-accent-500);
        border-left: none;
        transform: rotate(10deg);
      }
    }
    &:focus {
    }
    &:disabled {
      background-color: var(--color-primary-lighter);
      border: 1px solid var(--color-primary-lighter);
      cursor: not-allowed;
    }

    &.green {
      .ticket__label,
      .ticket__icon {
        background-color: var(--color-secondary-500);
        color: var(--color-accent-500);
      }
      .ticket__label {
        border-right: 1px dashed var(--color-accent-500);
      }

      .ticket__icon {
        border-left: 1px dashed var(--color-accent-500);
      }

      &:hover {
        .ticket__label,
        .ticket__icon {
          background-color: var(--color-secondary-600);
        }
      }
      &:focus {
        .ticket__label,
        .ticket__icon {
          background-color: var(--color-secondary-700);
        }
      }
    }

    &.purple {
      .ticket__label,
      .ticket__icon {
        background-color: var(--color-primary-500);
        color: var(--color-accent-500);
      }

      .ticket__label {
        border-right: 1px dashed var(--color-accent-500);
      }

      .ticket__icon {
        border-left: 1px dashed var(--color-accent-500);
      }

      &:hover {
        .ticket__label,
        .ticket__icon {
          background-color: var(--color-primary-600);
        }
      }
      &:focus {
        .ticket__label,
        .ticket__icon {
          background-color: var(--color-primary-700);
        }
      }
    }
  }

  &.secondary {
    background-color: var(--color-white);
    color: var(--color-neutral-darker);
    border: 1px solid var(--color-neutral);
    border-radius: 8px;
    padding: 0.625rem 1rem;
    box-shadow: 0px 1px 2px 0px #1018280d;
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;

    &:hover {
      background-color: var(--color-neutral-lightest);
    }
    &:focus {
      box-shadow: 0px 0px 0px 4px #f2f4f7;
    }
    &:disabled {
      color: var(--color-neutral);
      border: 1px solid var(--color-neutral);
      cursor: not-allowed;
    }
  }
  &.tertiary {
    background-color: var(--color-white);
    color: var(--color-neutral-darker);
    padding: 0.625rem 1rem;
    border: 1px solid var(--color-neutral-light);
    border-radius: 8px;
    cursor: pointer;
    transition:
      color 0.3s,
      color 0.3s;

    &:hover {
      color: var(--color-neutral-darkest);
      background-color: var(--color-neutral-lightest);
    }
    &:focus {
      border: 2px solid var(--color-neutral-lightest);
    }
    &:disabled {
      color: var(--color-neutral);
      cursor: not-allowed;
    }
  }
  // Common styles for arrow icons (for coloring)

  &.arw-left,
  &.arw-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }

  &.arw-left::before,
  &.arw-right::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: no-repeat;
    background-size: auto;

    // Masking to allow dynamic coloring
    -webkit-mask-image: url(/wp-content/themes/b9-boilerplate/src/images/base-icons.png);
    mask-image: url(/wp-content/themes/b9-boilerplate/src/images/base-icons.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: currentColor; // Inherits text color
  }

  // Loop to dynamically set background positions
  @each $name, $pos in $icons {
    &.arw-left.#{$name}::before,
    &.arw-right.#{$name}::after {
      -webkit-mask-position: list.nth($pos, 1) list.nth($pos, 2);
      mask-position: list.nth($pos, 1) list.nth($pos, 2);
    }
  }

  // Adjust positioning
  &.arw-left::before {
    margin-right: 0.5rem;
  }

  &.arw-right::after {
    margin-left: 0.5rem;
  }
}

// Slick slider custom nav styles
.slick-nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 20px;
  .slick-arrow {
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;

    &.slick-prev {
      left: 0;
      background-image: url("../images/short-arrow-left.svg");
    }
    &.slick-next {
      right: 0;
      background-image: url("../images/short-arrow-right.svg");
    }
  }
}
