.wc-blocks-components-select .wc-blocks-components-select__container {
  background: transparent !important;
  padding: 0.625rem 0 0.625rem 0;
}

.wc-block-components-form .wc-block-components-checkout-step {
  margin: 0 !important;
}

.wp-block-woocommerce-checkout-shipping-method-block,
.wp-block-woocommerce-checkout-pickup-options-block {
  display: none;
}

.wc-block-components-checkout-place-order-button {
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--radius-full);
  text-decoration: none;
  color: var(--color-accent-500);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  width: fit-content;
  background-color: var(--color-primary-500);
  transition: gap 0.25s ease-in-out;

  &:hover {
    background-color: var(--color-primary-600);
    gap: 1rem;
  }
  &:focus {
    background-color: var(--color-primary-700);
  }

  &:disabled {
    background-color: var(--color-primary-700);
    cursor: not-allowed;
  }

  &:after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: no-repeat;
    background-size: auto;
    background-image: url("../images/chevron-right.svg");
    margin-left: var(--spacing-sm);
  }
}

#order-notes {
  display: none;
}
