.site-header {
  padding: calc(var(--spacing-xl) + var(--spacing-lg)) 3.5rem 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999999;

  &.sticky {
    position: fixed !important;
    opacity: 0;
    padding: var(--spacing-lg) var(--spacing-lg) 0;
    width: 100vw;
    animation: header-fade-out 0.5s ease-in-out forwards;

    .site-header-inner {
      padding: var(--spacing-md);
      border-radius: var(--radius-lg);
      background-color: var(--color-secondary-700);
    }
    &.slide-up {
      animation: header-fade 0.5s ease-in-out forwards;
    }
  }

  @keyframes header-fade {
    from {
      opacity: 0;
      visibility: hidden;
    }
    to {
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes header-fade-out {
    from {
      opacity: 1;
      visibility: visible;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.no-header {
    position: relative;
    padding: calc(var(--spacing-xl) + var(--spacing-lg)) var(--spacing-lg) 0;

    .site-header-inner {
      padding: var(--spacing-xl);
      border-radius: var(--radius-lg);
      background-color: var(--color-secondary-700);
    }
  }

  .site-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-brand {
      min-width: 150px;
      max-width: 200px;
      width: 100%;

      a {
        line-height: 0;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .site-nav {
      display: flex;
      width: 100%;
      gap: var(--spacing-xl);
      color: var(--color-accent-500);
      align-items: center;
      justify-content: end;
    }
    .header-ctas {
      display: flex;
      justify-content: end;
      gap: 0.75rem;
      text-wrap: nowrap;
    }
  }

  @media (width <= 1200px) {
    .site-header-inner {
      .site-nav {
        display: none;
      }
      .site-brand img {
        width: 80%;
      }
      .mobile-menu-toggle {
        width: 24px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.35rem;
        .mobile-menu-toggle__bar {
          width: 100%;
          height: 2px;
          background-color: var(--color-accent-500);
        }
      }
      .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: var(--color-secondary-700);
        transition: right 0.5s ease-in-out;
        display: flex;
        flex-direction: column;

        &.active {
          right: 0;
        }

        .mobile-menu-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: var(--spacing-md) 0;
          border-bottom: 1px solid var(--color-accent-500);
          margin: 0 var(--spacing-lg);

          .mobile-menu-header__logo {
            width: 120px;
            height: auto;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .mobile-menu-close {
            width: 30px;
            height: 30px;
            position: relative;
            cursor: pointer;

            &:before,
            &:after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 100%;
              height: 3px;
              background-color: var(--color-accent-500);
              transform-origin: center;
            }

            &:before {
              transform: translate(-50%, -50%) rotate(45deg);
            }

            &:after {
              transform: translate(-50%, -50%) rotate(-45deg);
            }
          }
        }

        nav {
          height: 100%;
          .mobile-menu__list {
            display: flex;
            flex-direction: column;
            padding: var(--spacing-xl) var(--spacing-lg) 0;
            gap: var(--spacing-2xl);
            .menu-item {
              color: var(--color-accent-500);
              border-bottom: 1px solid var(--color-border);

              a {
                text-decoration: none;
                font-family: var(--font-new-kansas);
                font-style: medium;
                font-weight: 500;
                font-size: clamp(1.75rem, 3vw, 2rem);
                line-height: 2rem;
              }

              &:last-child {
                border-bottom: none;
              }
            }
          }
          .btn.ticket {
            padding: 0 var(--spacing-lg);
          }
        }
        .mobile-menu-footer {
          display: flex;
          gap: 1rem;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid var(--color-tertiary-500);
          padding: var(--spacing-md) var(--spacing-lg);

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
