.accordion-block {
  .container {
    .accordion-block__split {
      .accordion-block__images {
        position: relative;
        grid-column: 1 / 7;
        display: flex;
        flex-direction: column;

        .accordion-block__image {
          overflow: hidden;
          border-radius: var(--radius-lg);
          max-height: 659px;
          height: 100%;
          aspect-ratio: 3 / 2;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &:nth-child(2) {
            max-width: 500px;
            max-height: 332px;
            aspect-ratio: 3 / 2;
            border-radius: var(--radius-lg);
            border: 8px solid var(--color-accent-500);
            overflow: hidden;
            box-shadow: var(--shadow-lg);
            transform: translate(-20%, -20%);

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      .accordion-block__content {
        grid-column: 8 / 16;
        height: 100%;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary-darker);

        .accordion-block__content-inner {
          display: flex;
          flex-direction: column;
          gap: 2.5rem;
          max-width: 640px;
          width: 100%;

          .accordion-block__items {
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }
        }
      }
    }
  }

  &.full {
    .container {
      max-width: none;
      width: 100%;
      padding: 0;

      .accordion-block__split {
        .accordion-block__content {
          grid-column: 1 / -1;
          .accordion-block__content-inner {
            max-width: 980px;
          }
        }
      }
    }
  }
}

@media (width <= 980px) {
  .accordion-block {
    .container {
      .accordion-block__split {
        display: flex;
        flex-direction: column;
        height: auto;

        .accordion-block__image {
          width: 100%;
          height: 100%;
          max-height: 300px;
        }

        .accordion-block__content {
          padding: 0rem;
          width: 100%;
        }
      }
    }
  }
}
