.contact-form {
  padding: 0 var(--spacing-3xl);
  .form-section {
    display: flex;
    justify-content: space-between;
    gap: 110px;
    padding: var(--spacing-2xl) 0;

    .contact-half {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: var(--spacing-md);
      gap: 30px;
      width: 50%;
      padding: 40px var(--spacing-6xl);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;

      .contact-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(
          270deg,
          rgba(0, 0, 0, 0) 25%,
          rgba(0, 0, 0, 0.75) 100%
        );
        padding: 40px;
        border-radius: var(--spacing-md);
        display: flex;
        flex-direction: column;
        gap: 27px;
      }

      .contact--inner {
        position: relative;
        z-index: 1;

        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 27px;
        .contact-item {
          display: flex;
          flex-direction: column;
          gap: 8px;
          color: var(--color-accent-500);
          font-size: 18px;
          line-height: 26px;

          span {
            font-weight: bold;
          }

          a {
            text-decoration: none;
          }
        }
      }

      &.form {
        padding: 40px;

        .cf7-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }

        .cf7-col-full {
          grid-column: 1 / -1;
        }

        .cf7-grid label {
          display: block;
          width: 100%;
          font-family: var(--font-host-grotesk);
          font-weight: 300;
          font-size: 1rem; // 16px
          line-height: 1.25rem; // 20px
          margin-bottom: 12px;
        }

        .cf7-grid input,
        .cf7-grid textarea {
          width: 100%;
          box-sizing: border-box;
          margin-top: 6px;
          padding: var(--spacing-sm) var(--spacing-md);
          background-color: transparent;
          border: 1px solid var(--color-tertiary-500);
          border-radius: var(--radius-full);

          &::placeholder {
            font-size: 16px;
            line-height: 20px;
            color: var(--color-tertiary-400);
          }
        }

        .cf7-grid textarea {
          border-radius: var(--radius-lg);
        }

        @media (max-width: 767px) {
          .cf7-grid {
            grid-template-columns: 1fr;
          }

          .cf7-col-full {
            grid-column: auto;
          }
        }

        .wpcf7-acceptance {
          span {
            margin: 0;
            label {
              display: flex;
              align-items: center;
              gap: 8px;
              width: 150%;
            }
          }
        }
      }
    }
  }

  @media (width <= 980px) {
    .form-section {
      gap: 40px;
      flex-direction: column;
      .contact-half {
        width: 100%;

        &.form {
          padding: 64px 20px;

          .wpcf7-acceptance {
            span {
              margin: 0;
              width: auto;
              font-weight: 400;
              label {
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}

@media (width <= 980px) {
  .contact-form {
    padding: 0;
  }
}
