.content-switcher-section {
  background-size: 100% 100%;
  background-position: center;
  transition: background-image 0.5s ease-in-out;

  .container {
    .switcher-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 64px;
      margin-bottom: 100px;

      button {
        font-size: var(--font-size-large);
        font-weight: 700;
        transition: none;
        padding: 8px 24px;
        cursor: pointer;

        &[aria-selected="true"] {
          background-color: var(--color-white);
          color: var(--color-primary-blue);
        }

        &[aria-selected="false"] {
          background-color: transparent;
          color: var(--color-white);
          border: 2px solid var(--color-white);
        }
      }
    }

    .switcher-section {
      display: grid;
      gap: var(--grid-gaps);
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

      &.active {
        display: grid;
      }

      &.inactive {
        display: none;
      }

      .content-card {
        display: flex;
        flex-direction: column;
        gap: 100px;
        justify-content: space-between;
        border-radius: 16px;
        padding: 40px;
        background-color: var(--color-white);

        .content--inner {
          display: flex;
          flex-direction: column;
          gap: 40px;

          .content-top {
            min-height: 242px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            .icon {
              width: 120px;
              height: 120px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: var(--color-secondary-red);
            }
            .heading {
              width: 57%;
            }
          }
        }

        .btn {
          width: 100%;
        }

        &:nth-child(2) {
          .content--inner {
            .content-top {
              .icon {
                background-color: var(--color-primary-blue);
              }
            }
          }
        }
        &:nth-child(3) {
          .content--inner {
            .content-top {
              .icon {
                background-color: var(--color-secondary-yellow);
              }
            }
          }
        }
      }
    }
  }

  @media (width <= 768px) {
    .container {
      .switcher-buttons {
        gap: 24px;
        margin-bottom: 40px;
      }

      .switcher-section {
        gap: 40px;
        .content-card {
          gap: 40px;
          .content--inner {
            .content-top {
              min-height: auto;
            }
          }
        }
      }
    }
  }
}
