.full-cta {
  display: flex;
  flex-direction: column;
  background-color: var(--wp--preset--color--primary);
  // color: var(--wp--preset--color--white);
  overflow: hidden;

  .full-cta-subheader {
    padding: var(--spacing-lg) var(--spacing-3xl);
    margin-bottom: 48px;
  }

  .full-cta-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .images {
      display: flex;
      flex-direction: column;

      img {
        object-fit: cover;
        border-radius: var(--spacing-md);
        border: 8px solid var(--color-accent-500);
      }

      &.full-cta__left {
        justify-content: center;
        img {
          &:nth-child(1) {
            height: 460px;
            width: 379px;
            transform: scaleX(-1) translateX(50px);
            z-index: 0;
          }
          &:nth-child(2) {
            height: 338px;
            width: 273px;
            transform: translate(-30px, -50px);
            z-index: 1;
          }
        }
      }
      &.full-cta__right {
        justify-content: end;
        img {
          &:nth-child(1) {
            height: 267px;
            width: 341px;
            transform: translate(50px, 220px);
            z-index: 1;
          }
          &:nth-child(2) {
            height: 467px;
            width: 356px;
            transform: translate(80px, 0px);
            z-index: 0;
          }
        }
      }
    }

    .full-cta__content {
      max-width: 664px;
      align-self: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-lg);
      .svg-arrow {
        margin-bottom: 12px;
      }
    }
  }
}

@media (width <=980px) {
  .full-cta {
    .full-cta-subheader {
      padding: var(--spacing-lg) var(--spacing-ml);
      margin-bottom: 0;
    }

    .full-cta-inner {
      flex-direction: column;
      gap: var(--spacing-lg);
      padding: 0 1rem;

      .images {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--spacing-lg);
        &.full-cta__left {
          img {
            &:nth-child(1) {
              height: 300px;
              width: 246px;
              transform: scaleX(-1) translateX(0px);
            }
            &:nth-child(2) {
              height: 220px;
              width: 178px;
              transform: translate(-70px, -50px);
            }
          }
        }
        &.full-cta__right {
          justify-content: center;
          img {
            &:nth-child(1) {
              height: 300px;
              width: 246px;
              transform: scaleX(-1) translateX(0px);
            }
            &:nth-child(2) {
              height: 220px;
              width: 178px;
              transform: translate(-70px, -50px);
              z-index: 1;
            }
          }
        }
      }
    }
  }
}
