.latest-news-block {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-4xl);

    .heading {
      text-align: center;
    }

    .latest-news-grid {
      height: 70vh;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 30px;
      margin-top: 32px;

      .blog-card-image {
        height: 320px;
      }
    }
  }
}
