.step-section-wrapper {
  position: relative;
}

@media (width > 980px) {
  .step-section-wrapper .step-section {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
  }
}

.step-section {
  margin-bottom: 0;
  display: flex;

  .step-section-left,
  .step-section-right {
    width: 50%;
  }

  .step-section-left {
    padding: 0 var(--spacing-7xl);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-xl);
  }

  .step-section-right {
    position: relative;
    min-height: 480px;

    .step-section-image {
      position: absolute;
      inset: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition:
        opacity 1.5s ease-in-out,
        visibility 1.5s ease-in-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.is-active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  .step-section-sub-header,
  .step-section-header {
    padding: 0 calc(var(--spacing-xl));
  }

  .step-section-header {
    text-align: center;
    margin: var(--spacing-6xl) 0;
  }

  .step-section-steps {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    .step-section-step {
      text-align: left;
      position: relative;
      border: none;

      .step-section-count {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 0 var(--spacing-sm) 0;
        border-bottom: 1px solid var(--color-tertiary-400);
        gap: var(--spacing-md);
        font-family: var(--font-host-grotesk);
        font-weight: 300;
        letter-spacing: 0;
        line-height: 26px;
        font-size: 18px;
        color: var(--color-tertiary-400);

        .step-section-icon {
          padding: 8px;
          width: fit-content;
          background-color: var(--color-tertiary-400);
          border-radius: var(--radius-full);
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;

          img {
            width: 32px;
            height: 32px;
            object-fit: contain;
          }
        }

        &::marker,
        &::after {
          display: none;
        }
      }

      &[open] {
        .step-section-count {
          color: var(--color-tertiary-500);
          border-bottom: 1px solid var(--color-tertiary-400);

          .step-section-icon {
            background-color: var(--color-tertiary-500);
          }
        }
      }

      .step-section-step-content {
        z-index: 1;
        padding: var(--spacing-lg) 0 0;
        .step-section-title {
          margin-bottom: var(--spacing-ms);
        }
      }
    }
  }
}

@media (width <= 980px) {
  .step-section {
    height: 100%;
    flex-direction: column;
    gap: 1rem;

    .step-section-left,
    .step-section-right {
      width: 100%;
      padding: 0 1rem;
    }

    .step-section-right {
      min-height: 320px;

      .step-section-image {
        position: relative;
        display: none;

        &.is-active {
          display: block;
        }
      }
    }

    .step-section-steps {
      display: flex;
      flex-direction: column;

      .step-section-divider {
        display: none;
      }
    }
  }
}
