.team-grid-section {
  background-color: var(--color-primary-blue);
  color: var(--color-white);
  .container {
    display: flex;
    flex-direction: column;
    gap: 80px;

    .team-section-heading {
      width: 50%;
      text-align: center;
      margin: 0 auto;
    }

    .team-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: var(--grid-gaps);

      .card {
        padding: 24px 24px 40px 24px;
        border-radius: 20px;
        color: var(--color-white);
        background-color: #2b68a3;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .team-heading {
          color: var(--color-lightgrey);
          display: flex;
          flex-direction: column;
          gap: 30px;

          .team-initials {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border-radius: 50px;
            background-color: var(--color-lightgrey);
            color: var(--color-primary-blue);
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .container {
      .team-grid {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
