.previous-winners-grid {
  .container.grid {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    justify-content: center;
    gap: 20px;

    .winner-item {
      flex: 0 0 calc(33.333% - 20px);
      border: 1px solid var(--color-tertiary-500);
      border-radius: var(--radius-lg);

      @media (width <=1240px) {
        flex: 0 0 calc(50% - 20px);
      }

      @media (width <=768px) {
        flex: 0 0 100%;
      }

      .winner-image {
        border-radius: var(--radius-lg);
        width: 100%;
        height: auto;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
      }
      .winner-content {
        padding: var(--spacing-2xl) var(--spacing-xl) var(--spacing-xl);
        display: flex;
        flex-direction: column;

        .content--inner {
          padding-bottom: var(--spacing-md);
          border-bottom: 1px solid var(--color-tertiary-500);
          display: flex;
          flex-direction: column;

          label {
            margin-bottom: var(--spacing-ms);
            text-transform: uppercase;
            font-weight: 600;
          }
        }

        .content {
          padding-top: var(--spacing-md);
        }
      }
    }
  }
}
