h1 {
  font-family: var(--font-adelle);
  font-size: clamp(3.125rem, 5vw, 4.5rem);
  font-family: "adelle", serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -1.44px;
}

h2 {
  font-family: var(--font-adelle);
  font-size: clamp(2.25rem, 5vw, 2.5rem);
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: var(--font-adelle);
  font-size: clamp(1.75rem, 5vw, 2rem);
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-family: var(--font-larken-light);
  font-size: 1rem;
  line-height: 1.125rem;
}

h5 {
  font-family: var(--font-larken-light);
  font-size: 0.875rem;
  line-height: 1.125rem;
}

h6 {
  font-family: var(--font-larken-light);
  font-size: 0.875rem;
  line-height: 1.125rem;
}

p {
  font-family: var(--font-circular-std);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: 300;
  margin-bottom: 1rem;

  &.subheading {
    font-family: var(--font-circular-std);
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 600;
    letter-spacing: 10%;
    text-transform: uppercase;
    color: var(--color-navy-500);
  }

  em {
    font-style: italic;
  }
}

a {
  font-family: var(--font-circular-std);
  font-size: var(--font-size-base);
  line-height: 1.188rem;
  font-weight: 300;
  text-decoration: underline;
  text-underline-offset: 3px;
  // letter-spacing: 1.4px;
}

small {
  font-family: var(--font-circular-std);
  font-size: 0.875rem;
  line-height: 1.188rem;
  font-weight: 300;
}

// Special Styling elements

blockquote,
q {
  quotes: initial;
  font-family: var(--font-circular-std);
  font-size: 2rem;
  line-height: 2.25rem;

  &::before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
  }
}

cite {
  font-size: 12px;
  line-height: 1rem;
}

/* Media Queries for mobile font sizes */
// @media (width <= 768px) {
//   h1 {
//     font-size: 52px;
//     line-height: 1.2;
//   }

//   h2 {
//     font-size: 40px;
//     line-height: 60px;
//   }

//   h3 {
//     font-size: 27px;
//     line-height: 38px;
//   }

//   h4 {
//     font-size: 21px;
//     line-height: 33px;
//   }

//   h5 {
//     font-size: 18px;
//     line-height: 32px;
//   }
// }
