.cta-block {
    background-color: var(--color-navy-500);
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 46px;
        padding: 3.75rem 10rem 3.938rem;
        .cta-block-content {
            max-width: 734px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 12px;
            color: var(--color-white);

            h2 {
                font-family: var(--font-adelle);
                font-size: clamp(1.75rem, 5vw, 2rem);
                font-weight: 400;
                font-style: normal;
            }

            p {
                max-width: 568px;
            }
        }
        .cta-block-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1rem;
            
        }
    }
}

@media (width <= 768px) {
    .cta-block {
        .container {
            padding: 1.875rem 0.938rem 2.438rem;
            gap: 38px;

                    .cta-block-content {
                        h2 {
                            font-family: var(--font-adelle);
                            font-size: clamp(1.75rem, 5vw, 2.5rem);
                            font-weight: 400;
                            font-style: normal;
                        }
                    }

        }
    }
}