.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: var(--grid-gaps);
}

.testimonial-item {
  padding: 40px;
  background-color: var(--color-lightgrey);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  height: 350px; // Set a fixed height for the cards
  overflow: hidden; // Hide overflow content

  .testimonial-content {
    font-style: italic;
    overflow: hidden; // Hide overflow content
    text-overflow: ellipsis; // Add ellipsis for overflow text
    display: -webkit-box;
    -webkit-line-clamp: 9; // Limit the number of lines
    -webkit-box-orient: vertical;
  }

  .testimonial-author {
    font-weight: var(--font-weight-bold);
    color: var(--color-navy-500-blue);
  }
}
