.testimonial-slider-block {
  background-color: var(--color-beige-400);
  .container {
    display: flex;
    flex-direction: column;
    gap: 6.125rem;

    .testimonials-wrapper {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
      .testimonials-block-slider {
        max-width: 840px;
        margin: 0 auto;

        .testimonial {
          display: flex !important;
          flex-direction: column;
          text-align: center;
          gap: 1.5rem;

          .testimonial-author {
            color: var(--color-teal-500);
            font-family: var(--font-circular-bold);
            font-size: clamp(0.625rem, 2vw, 0.688rem);
            line-height: 1.031rem;
            font-weight: 700;
            letter-spacing: 1.54px;
            text-transform: uppercase;
          }

          .testimonial-quotation {
            &:before {
              content: "\201C";
              display: block;
              font-family: serif;
              font-size: clamp(2.125rem, 12vw, 5.25rem);
              line-height: 1;
              color: var(--color-teal-600);
              margin-bottom: 0;
            }
          }
        }
      }

      .slider-nav.testimonials {
        max-width: 440px;
        margin: 0 auto;
      }
    }
  }

  @media (width <= 768px) {
    .container {
      gap: 1.75rem 0.938rem;

      .testimonials-wrapper {
        gap: 1.5rem;
        .testimonials-block-slider {
          max-width: 100%;
        }
      }
    }
  }
}
