.video-grid {
  .container {
    .video-grid-inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      margin-top: 30px;

      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      .video-item {
        .video-item-inner {
          display: flex;
          flex-direction: column;
          gap: 24px;
          .video-item-image {
            height: 400px;

            * {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
