// Define the number of columns for the grid
$columns: 16;

// Base grid container styles
.grid {
  display: grid;
  // Create 12 equal-width columns
  grid-template-columns: repeat(16, 1fr);
  // Set the gap between grid items
  gap: 2rem;
  padding: 0 calc(var(--spacing-xl));
}

// Generate column span classes dynamically
@for $i from 1 through $columns {
  // Class for spanning $i columns
  .col-#{$i} {
    // Span $i columns
    grid-column: span $i;
  }

  @media (width <= 768px) {
    .col-#{$i} {
      // For smaller screens, span all columns
      grid-column: span 6;
    }
  }
}

@media (width <= 768px) {
  .grid {
    // For smaller screens, switch to a single column layout
    grid-template-columns: repeat(6, 1fr);
    padding: 0;
  }
}

@media (width <= 390px) {
  .grid {
    // For even smaller screens, switch to a single column layout
    grid-template-columns: repeat(4, 1fr);
  }
}
