.wp-block-woocommerce-cart {
  max-width: 980px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: var(--spacing-2xl) var(--spacing-lg);

  .wc-block-components-sidebar-layout.wc-block-cart {
    display: flex;
    flex-direction: column;

    .wc-block-components-main {
      width: 100%;
    }
  }
}
