@use "sass:list";

// Sprite map for icon positioning
$icons: (
  arrow-right: (
    -56px,
    -56px,
  ),
  arrow-left: (
    -616px,
    -112px,
  ),
);

.btn,
button.btn {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  padding: 12px 28px;
  gap: 8px;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 2px;
  font-family: var(--font-circular-reg);
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;

  &.primary {
    background-color: var(--color-navy-500);
    color: #fff;
    transition: background-color 0.3s ease-in-out;

    &:after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      flex: 0 0 16px;
      background-image: url("../images/arrow-white.svg");
      background-size: 16px 100%;
      background-repeat: no-repeat;
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      background-color: var(--color-navy-800);
      &:after {
        transform: translateX(2px);
      }
    }

    &--light {
      background-color: #fff;
      color: var(--color-navy-900);

      &:after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        flex: 0 0 16px;
        background-image: url("../images/arrow.svg");
        background-size: 16px 100%;
        background-repeat: no-repeat;
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        background-color: var(--color-sand-600);
        &:after {
          transform: translateX(2px);
        }
      }
    }
  }

  &.secondary {
    padding: 12px 28px 10px;
    border: 1px solid var(--color-navy-500);
    border-radius: 2px;
    color: var(--color-navy-900);
    transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;

    &:hover {
      background-color: var(--color-sand-600);
    }

    &--light {
      border: 1px solid var(--color-sand-200);
      color: var(--color-sand-200);

      &:hover {
        background-color: rgba(254, 254, 254, 0.15);
      }
    }
  }

  &.cta-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--color-navy-900);
    font-size: 15px;
    line-height: 19px;
    padding: 8px 0;
    transition: background-color 0.3s ease-in-out;

    &:after {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background-image: url("../images/arrow.svg");
      background-size: 12px 100%;
      background-repeat: no-repeat;
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      &:after {
        transform: translateX(4px);
      }
    }

    &--light {
      color: var(--color-sand-200);

      &:hover {
        color: var(--color-sand-500);
      }
    }
  }
}

button[type="submit"] {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  padding: 12px 28px;
  gap: 8px;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 2px;
  font-family: var(--font-circular-reg);
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;

  background-color: var(--color-navy-500) !important;
  color: #fff !important;
  transition: background-color 0.3s ease-in-out !important;

  &:after {
    content: "" !important;
    display: block;
    width: 16px;
    height: 16px;
    flex: 0 0 16px;
    background-image: url("../images/arrow-white.svg");
    background-size: 16px 100%;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;
  }

  &:hover {
    background-color: var(--color-navy-800);
    &:after {
      transform: translateX(2px);
    }
  }
}

.nav-cta {
  a.mega-menu-link {
    font-family: var(--font-circular-reg) !important;
    font-size: 0.875rem !important;
    font-weight: 300 !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;

    &:after {
      content: "" !important;
      display: inline-block !important;
      width: 43px !important;
      height: 16px !important;
      margin-left: 8px !important;
      background-image: url("../images/arrow.svg") !important;
      background-size: 43px 100% !important;
      background-repeat: no-repeat !important;
      transition: background-size 0.3s ease-in-out !important;
    }

    &:hover:after {
      background-size: 31px 100% !important;
      transition: background-size 0.3s ease-in-out !important;
    }
  }
}

.mega-sub-menu .mega-menu-item:not(.nav-cta) {
  > a.mega-menu-link {
    align-items: center !important;
    display: inline-flex !important;

    &::after {
      background-image: url("../images/arrow.svg") !important;
      background-repeat: no-repeat !important;
      background-size: 16px 100% !important;
      content: "" !important;
      flex: 0 0 16px;
      height: 16px !important;
      margin-left: 8px !important;
      opacity: 0;
      transform: translateX(-2px);
      transition:
        opacity 0.2s ease-in-out,
        transform 0.3s ease-in-out !important;
      width: 16px !important;
    }
  }

  &:hover > a.mega-menu-link::after,
  &:focus-within > a.mega-menu-link::after {
    opacity: 1;
    transform: translateX(2px);
  }
}

.input-submit-wrapper {
  display: flex;
  align-items: center;

  &:after {
    content: "";
    display: inline-block;
    width: 43px;
    height: 16px;
    margin-left: 8px;
    background-image: url("../images/arrow-white.svg");
    background-size: 43px 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
  }

  &:hover:after {
    background-size: 31px 100%;
    transition: background-size 0.3s ease-in-out;
  }

  input[type="submit"] {
    font-family: var(--font-circular-reg);
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 1.4px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background: none;
    text-align: left;
  }
}

.slick-pause-icon,
.slick-autoplay-toggle-button {
  display: none !important;
}

// Slick Dots
.slider-nav,
.testimonials-block-slider-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px 0;

  @media (max-width: 768px) {
    gap: 1rem;
    width: 100%;
    padding: 24px 1rem;
  }

  // Remove padding for testimonial sliders
  &.testimonials {
    padding: 0;
  }

  .slider-dots {
    .slick-dots {
      position: relative !important;
      top: 0;
      padding: 0;
      display: flex !important;
      align-items: center;
      justify-content: center;
      gap: 6px;

      li {
        margin: 0 !important;
        button {
          width: auto !important;
          height: auto !important;
          margin: 0 !important;
          padding: 0px;
          background: none;
          border: none;
          cursor: pointer;

          .slick-dot-icon {
            &:before {
              position: relative !important;
              content: "" !important;
              width: 8px;
              height: 8px;
              display: block;
              border-radius: 50%;
              background-color: #cccccc;
              transition: background-color 0.3s ease;
              margin-top: 0 !important;
            }
          }
        }

        &.slick-active {
          button {
            .slick-dot-icon {
              &:before {
                background-color: #555555;
              }
            }
          }
        }
      }
    }
  }
  .slider-arrows {
    display: flex;
    align-items: center;
    gap: 16px;

    .slick-arrow {
      position: relative;
      top: 0;
      background: transparent;
      border: none;
      cursor: pointer;
      width: 60px;
      height: 20px;
      background-image: url("../images/arrow.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transform: none;
      left: 0;

      @media (max-width: 768px) {
        width: 45px;
        height: 15px;
      }

      &.slick-prev,
      &.slick-next {
        right: 0;
      }

      &.slick-disabled {
        opacity: 0.3;
        cursor: default;
      }

      &.slick-prev {
        transform: rotate(180deg);
        transform-origin: center;
      }
    }
  }
}

@media (width <= 768px) {
  .btn,
  button.btn {
    &.primary {
      font-size: 0.875rem;

      &--light {
        font-size: 0.813rem;
      }
    }
  }
}
